{% extends "base.html" %}
{% block title %}Checkout{% endblock %}

{% block content %}
<h2 class="fw-bold mb-4 text-center">Checkout Pesanan</h2>

<div class="row">
    <div class="col-md-7">
        <div class="card shadow-sm p-3">
            <h5 class="fw-bold">Keranjang Anda</h5>
            <hr>

            {% for item in cart %}
            <div class="d-flex justify-content-between py-2 border-bottom">
                <div>
                    <strong>{{ item.menu.nama_makanan }}</strong><br>
                    <small class="text-muted">x{{ item.qty }}</small>
                </div>
                <div class="fw-bold">Rp {{ item.total }}</div>
            </div>
            {% endfor %}
        </div>
    </div>

    <div class="col-md-5">
        <div class="card shadow-sm p-3">
            <h5 class="fw-bold">Ringkasan Pembayaran</h5>
            <hr>

            <p class="d-flex justify-content-between">
                <span>Total Harga</span>
                <strong>Rp {{ total }}</strong>
            </p>

            <form action="{% url 'process_checkout' %}" method="POST">
                {% csrf_token %}

                <label class="form-label mt-3">Alamat Pengantaran</label>
                <textarea name="alamat" class="form-control" required></textarea>

                <button class="btn btn-success w-100 mt-4">Buat Pesanan</button>
            </form>
        </div>
    </div>
</div>

{% endblock %}
