<h1>Detail Pesanan #{{ order.id }}</h1>

<p><b>Customer:</b> {{ order.customer.username }}</p>
<p><b>Status:</b> {{ order.get_status_display }}</p>
<p><b>Total Harga:</b> {{ order.total_harga }}</p>

<h3>Item Pesanan:</h3>
<table border="1" cellpadding="6">
    <tr>
        <th>Menu</th>
        <th>Qty</th>
        <th>Subtotal</th>
    </tr>

    {% for item in items %}
    <tr>
        <td>{{ item.menu.nama_makanan }}</td>
        <td>{{ item.qty }}</td>
        <td>{{ item.subtotal }}</td>
    </tr>
    {% endfor %}
</table>

<h3>Ubah Status</h3>

<form method="POST">
    {% csrf_token %}
    <select name="status">
        {% for key, label in order.STATUS_CHOICES %}
        <option value="{{ key }}" {% if key == order.status %}selected{% endif %}>
            {{ label }}
        </option>
        {% endfor %}
    </select>
    <button type="submit">Update</button>
</form>

<br>
<a href="/restaurant/orders/">Kembali ke daftar</a>
